{{template "layout" .}}

    <div class="container">
        <div class="forum-content">
            {{range .}}
            <div class="forum-post">
                <!-- <h2>{{.Title}}</h2> -->
                <p> {{.Post}} </p>
                <p>Posted by {{.User}} in {{.Category}}</p>
                <p>{{.Content}}</p>
                <a href="{{.Link}}">Read More</a>
            </div>
            {{end}}
        </div>
    </div>
<p> test </p>
    <footer>
        <p> &copy; 2023 ForumHub > PornHub</p>
    </footer>
</body>

</html>
