{{ template "layout" . }}
</head>    
<body>    
    <h1> Log in Form </h1>  

        <form action="/loginauth" method="post" id="login" class="input-group">
            <input name="username" type="text" class="input-field" placeholder="User Name" required>
            <input name="email" type="email" class="input-field" placeholder="Email" required>
            <input name="password" type="password" class="input-field" placeholder="Password" required>
            <button type="submit" class="submit-btn">Login</button>
        </form>

</body>     