{{ template "layout" . }}
</head>    
<body>    
    <center> <h1> Register to our website ! </h1> </center>   
    <form>  
        <div class="container">   
            <label>Pick a Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>Pick a Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button type="submit">sign up</button>   
            <!--input type="checkbox" checked="checked"> Remember me   -->  
        </div>   
    </form>     
</body>     