{{template "layout"}}
{{ define "content" }}
   
 <h1> Log into to make a post ! </h1>
 <ul>
    <li>Once you log in you will be able to writea post</li>
    <li>Like/ dislike posts!</li>
    <li>Make comments</li>
  
 </ul>
    <div class="container">   
    <form action="/loginauth" method="POST">
        <label for="email">E-mail:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form> 
    </div>   
{{end}}

{{define "title"}}
Sign-up!
{{end}}

{{define "contact"}}
email me at example@example.com
{{end}}