{{ define "content" }}
   
 <h1> Register to our website ! </h1>
 <ul>
    <li>Create an account with us by filling out the form below!</li>
    <li>Must be a valid email</li>
    <li>Username numst be between 5 - 15 characters long, and only contain letter and or numbers</li>
    <li>Password must be greater than 7 characters, but less than 21</li>
    <li>Password must contain an uppercase letter, lowercase letter, number, and a special character</li>
 </ul>
    <form>  
        <div class="container">   
        <form action="/registerauth" method="POST">
            <label for="email">E-mail:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Submit">
        </form> 
        </div>   
    </form>     
{{end}}

{{define "title"}}
Sign-up!
{{end}}

{{define "contact"}}
email me at example@example.com
{{end}}